<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <!--/*-->
  <link rel="stylesheet" href="../../static/css-user/base.css">
  <!--*/-->
  <link rel="stylesheet" href="../../static/css-user/indexContnet.css">
  <script>

  </script>
</head>

<body>
  <!-- 底部新闻开始 -->
  <div class="w">
    <!-- 新闻部分一 -->
    <div class="news">
      <div class="left">
        <div>
          <a href="http://www.gov.cn/xinwen/2020-11/28/content_5565614.htm" style="color: #0C0C0C">
          <img src="../../static/assets/news1.jpg" alt="">
          <span>
            <h4>山东优化政策让省内外老年人待遇“均等化”</h4>
            <p>新华社济南11月28日电（记者 贾云鹏）山东省政府日前印发的《山东省人民政府关于进一步优化老年人优待政策的通知》提出...</p>
          </span>
          </a>
        </div>
        <div>
          <a href="http://www.gov.cn/xinwen/2020-02/02/content_5473827.htm" style="color: #0C0C0C">
          <img src="../../static/assets/news2.jpg" alt="">
          <span>
            <h4>安徽省基本公共服务均等化指数首次发布</h4>
            <p>省统计局新近编制完成2016年至2018年全省基本公共服务均等化指数，这是我省首次进行基本公共服务均等化发展进程监测并进行...</p>
          </span>
          </a>
        </div>
      </div>
      <div class="right">
        <img src="../../static/assets/news3.webp" alt="">
      </div>
    </div>
    <!-- 新闻部分二 -->
    <div class="list">
      <div>
        <a href="http://www.gov.cn/zhengce/2019-02/20/content_5366974.htm" style="color: #0C0C0C">
        <h4>以标准化促公共服务均等化</h4>
        <p>全面推动基本公共服务补短板、非基本公共服务强弱项、提高公共服务质量工作，是贯彻落实党中央、国务院《关于建立健全基本公共服务标准体系的指导意见》《关于保持基础设施领域补短板力度...</p>
        </a>
      </div>
      <hr>
      <div>
        <a href="http://www.gov.cn/xinwen/2018-01/17/content_5257302.htm" style="color: #0C0C0C">
        <h4>为教育均等化不懈努力</h4>
        <p>党的十九大提出，“努力让每个孩子都能享有公平而有质量的教育”。面对中学教育地区发展的高度不平衡以及社会对教育公平的强烈期待，当国家层面持续发力教育资源分配均等化之时，社会也应跑...</p>
        </a>
      </div>
      <hr>
      <div>
        <a href="http://www.gov.cn/xinwen/2018-03/01/content_5269835.htm" style="color: #0C0C0C">
        <h4>法制护航:深圳迈向家庭医生服务均等化</h4>
        <p>新华社深圳3月1日电（记者 白瑜）今年冬春换季时节，一场大范围的流感肆虐，不少医院人满为患。在深圳，由于基层医疗服务体系逐渐完善，很多流感患者是在社康中心、通过签约家庭医生治好的...</p>
        </a>
      </div>
      <hr>
      <div>
        <a href="http://www.gov.cn/xinwen/2016-09/27/content_5112426.htm" style="color: #0C0C0C">
        <h4>推动基本公共服务均等化</h4>
        <p>推动城乡和区域基本公共服务均等化，是实现城乡和区域协调发展的重要举措，也是实现经济社会协调发展的重要环节。

          基本公共服务是以一定时期经济社会发展水平为基础，在社会共识基础上，政府为维护经济社会的稳定和发展、保障公民的基本生存和发展权利、实现社会公平正义而提供的公共产品与服务。从逐步实现基本...</p>
        </a>
      </div>
    </div>
  </div>
</body>

</html>