<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改</title>
    <!--/*-->
    <link rel="stylesheet" href="../../static/libs/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/roleAdd.css">
    <link rel="stylesheet" href="../../static/libs/layui/css/modules/layer/default/layer.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/libs/layui/layui.js"></script>
    <!--*/-->
    <style type="text/css">
        body{
            width: 100%;
            height: 100%;
        }
        .treeSelect .layui-select-title span {
            line-height: 38px;
        }
        .layui-form-select dl{
            padding: 0;
        }
    </style>
</head>

<body>
<div>
    <form class="layui-form role" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">ID:</label>
            <div class="layui-input-block">
                <input type="text" name="id" id="id" th:value="${user != null} ? ${user.id} : ''" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称:</label>
            <div class="layui-input-block">
                <input type="text" name="username" id="username" th:value="${user != null} ? ${user.username} : ''" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话:</label>
            <div class="layui-input-block">
                <input type="text" name="phone" id="phone" th:value="${user != null} ? ${user.phone} : ''" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电子邮箱:</label>
            <div class="layui-input-block">
                <input type="text" name="email" id="email" th:value="${user != null} ? ${user.email} : ''" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" id="save" lay-submit lay-filter="formDemo">保存</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use("form", function () {
        var $ = layui.jquery;
        var form = layui.form;
        form.on('submit(formDemo)', function(data){
            $.ajax({
                type: "POST",
                url: '/user/update',
                contentType:"application/json",
                data: JSON.stringify(data.field),
                dataType:"JSON",
                success:function (resp){
                    console.log(resp)
                }
            })
        });
    });
</script>

</body>

</html>